@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');

* {
    background: #E1D9D1;
    margin: 0;
    padding: 0;
}

.container-head {
    margin-top: 100px;
    margin-left: 10px;
    height: auto;
}

.container-head h1 {
    font-weight: 600;
    font-size: 60px;
}

.container-head a {
    padding-right: 25px;
    padding-top: 10px;
    font-size: 20px;
}

.quote {
    /* background: wheat; */
    margin-left: 20px;
    margin-top: 40px;
}

.quote p {
    font-family: "Edu NSW ACT Foundation", cursive;
    font-weight: 500;
    font-size: 18px;
}

.blog-posts {
    margin-left: 20px;
    margin-top: 100px;
    margin-bottom: 50px;
}

.breaker {
    margin-top: 10px;
    margin-left: 20px;
}

.blog-summary {
    display: block;
    margin-left: 20px;
}

.blog-summary h3 {
    display: block;
    font-size: 19px;
    margin-bottom: 20px;
}

.blog-summary p {
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer {
    margin-top: 100px;
    margin-left: 20px;
}

.footer .snake {
    width: 100px;
}