@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@500&display=swap');

* {
    /* font-family: 'Bebas Neue', cursive; */
    background: #161616;
    margin: 0;
    padding: 0;
}

.topbar {
    margin: auto;
    text-align: center;
    /* padding-left: 50px; */
}

.topbar a {
    font-family: 'Bebas Neue', cursive;
    background: transparent;
    padding: 0px 1px;
    font-size: 15px;
    text-decoration: none;
    color: #47B6FF;
}

.topbar a:hover {
    text-decoration: underline;
}

.header {
    margin: auto;
    width: auto;
    text-align: center;
    align-items: center;
    /* display: inline-block; */
    /* justify-content: space-between; */
    background: transparent;
}

.header .nava {
    position: relative;
    justify-content: center;
    padding-top: 20px;
    width: 180px;
    background: transparent;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.header .frame-left {
    float: left;
    background: transparent;
    height: 90px;
    width: 90px;
}

.header .frame-right {
    float: right;
    background: transparent;
    height: 90px;
    width: 90px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.quote {
    margin-left: 10px;
    margin-top: 40px;
}

.quote p {
    text-align: center;
    font-family: "Edu NSW ACT Foundation", cursive;
    font-size: 15px;
    color: white;
}

.wolf {
    margin: auto;
}

.wolf img {
    height: 30px;
}

.wolf h1 {
    display:flex;
    text-align: center;
    color: wheat;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    background: #161616;
    padding-top: 100px;
}

.wolf hr {
    margin: auto;
    width: 70%;
}

.yt-embed {
    margin: auto;
    display: flex;
    justify-content: center;
    background: #161616;
    width: 55%;
    padding-top: 30px;
}

.yt-embed iframe {
    height: 200px;
} 

.breaker {
    margin: auto;
    /* width: 55%; */
}

.breaker h1 {
    display:flex;
    text-align: center;
    color: wheat;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    background: #161616;
    padding-top: 100px;
}

.breaker img {
    width: 20px;
    padding-right: 5px;
    background: #161616;
}

.breaker hr {
    margin: auto;
    width: 95%;
}


.blogs {
    position: relative;
    margin: auto;
    margin-top: 0.1px;
    display: flex;
    background: #161616;
    height: auto;
}

.blogs .blog-1 img {
    height: 25px;
}

.blogs .blog-1 {
    float: left;
    padding-left: 10px;
}

.blogs .blog-1 h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}

.blogs .blog-1 a {
    color: white;
    text-decoration: none;
}

.blogs .blog-1 a:hover {
    text-decoration: underline;
}

.footer {
    margin: auto;
    width: 55%;
    background: #161616;
}

.footer .snake {
    margin: auto;
    width: 150px;
    background: #161616;
    display: flex;
    justify-content: center;
}

.footer p {
    margin: auto;
    padding-top: 10px;
    background: #161616;
    color: white;
    display: flex;
    justify-content: center;
}

.footer h2 {
    font-family: 'Bebas Neue', cursive;
    margin: auto;
    padding-top: 100px;
    background: #161616;
    color: red;
    display: flex;
    justify-content: center;
}

.footer a {
    padding: 0px 7px;
    background: wheat;
}

.footer h3 {
    padding-top: 10px;
    background: #161616;
    text-align: center;
}

.footer hr {
    margin: auto;
    width: 36%
}

.footer .social {
    height: 20px;
}