@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    /* font-family: 'Bebas Neue', cursive; */
    background: #3e3e3e;
    margin: 0;
    padding: 0;
}


.container-main {
    margin: auto;
    display: flex;
    justify-content: center;
    background: #161616;
    width: 55%;
    height: auto;
}

.topbar {
    margin: auto;
    display: flex;
    justify-content: center;
    background: #161616;
    width: 55%;
}

.topbar a {
    font-family: 'Bebas Neue', cursive;
    background: transparent;
    padding: 0px 7px;
    font-size: 20px;
    text-decoration: none;
    color: #47B6FF;
}

.topbar a:hover {
    text-decoration: underline;
}

.header {
    display: inline-block;
    justify-content: space-between;
    background: transparent;
}

.header .nava {
    position: relative;
    justify-content: center;
    padding-top: 10px;
    background: transparent;
    -webkit-filter: invert(100%);
    filter: invert(100%);
}

.header .frame-left {
    float: left;
    background: transparent;
    height: 200px;
    width: 200px;
}

.header .frame-right {
    float: right;
    background: transparent;
    height: 200px;
    width: 200px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.quote {
    margin-top: 150px;
    position: absolute;
    font-size: 20px;
    color: red;
}

.quote span {
    background: #161616;
}

.wolf {
    margin: auto;
    background: #161616;
    width: 55%;
    /* justify-content: center; */
}

.wolf img {
    height: 30px;
    background: transparent;
}

.wolf h1 {
    display:flex;
    text-align: center;
    color: wheat;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    background: #161616;
    padding-left: 200px;
    padding-top: 100px;
}

.wolf hr {
    margin: auto;
    width: 70%;
    /* border: none; */
    /* height: 1px; */
}

.yt-embed {
    margin: auto;
    display: flex;
    justify-content: center;
    background: #161616;
    width: 55%;
    padding-top: 30px;
}

.breaker {
    margin: auto;
    background: #161616;
    width: 55%;
    /* justify-content: center; */
}

.breaker h1 {
    display:flex;
    text-align: center;
    color: wheat;
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    background: #161616;
    padding-left: 200px;
    padding-top: 100px;
}

.breaker hr {
    margin: auto;
    width: 70%;
    /* border: none; */
    /* height: 1px; */
}


.blogs {
    position: relative;
    margin: auto;
    margin-top: 0.1px;
    display: flex;
    background: #161616;
    width: 55%;
    height: auto;
}

.blogs hr {
    margin-left: 150px;
    /* border: none; */
}

.blogs .blog-1 {
    float: left;
    padding-left: 50px;
    padding-top: 10px;
    background: #161616;
}

.blogs .blog-1 h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 40px;
    background: #161616;
}

.blogs .blog-1 a {
    color: white;
    text-decoration: none;
    background: #161616;
}

.blogs .blog-1 a:hover {
    text-decoration: underline;
}

.footer {
    margin: auto;
    width: 55%;
    background: #161616;
}

.footer img {
    margin: auto;
    width: 150px;
    background: #161616;
    display: flex;
    justify-content: center;
}

.footer p {
    margin: auto;
    padding-top: 450px;
    background: #161616;
    color: white;
    display: flex;
    justify-content: center;
}